@mixin buttons() {
    width: 100px;
    height: 35px;
    text-transform: uppercase;
    background-color: transparent;
    font-family: sans-serif;
    font-weight: bold;
}
.header{
      background: rgb(130, 151, 138);
    .welcome-page{
        height: 95vh;
        background-image: url("/images/cover.jpg");
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .welcome-text{
            color: black;
            position: relative;
            top: 200px;
            font-size: 60px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            width: 30%; 
            height: 300px;
            line-height: 50px;
            padding-left: 2%;
            padding: 1%;
        }
    }
}
@media only screen and (max-width:600px){
    .header{
      background: rgb(130, 151, 138);
    .welcome-page{
        background-image: url("/images/cover2.jpg");
        background-size: cover;
        background-position: center;
        .welcome-text{
            top: 180px;
            font-size: 35px;
            text-align: center;
            line-height: 1.9rem;
            width: 100%;
            color: white;
            padding: 3%;
        }
    }
}
}