@import "header";
@import "simple_responsive_navbar";
@import "footer";
@font-face{
  font-family: oswald;
  src: url("/Oswald-VariableFont_wght.ttf");
}
html,body {
  font-size: 100%;
  font-family: oswald,sans-serif;
  line-height: 1.5rem;
  width:100%;
  height: auto;
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
}
@mixin flex($flexdirection, $position) {
  display: flex;
  flex-flow: $flexdirection wrap;
  justify-content: $position;
}
@mixin heading {
  display: block;
  clear: both;
  width: 100%;
  padding: 2%;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}
//
$primary-bg-color:rgba(235, 233, 233, 0.76);
$secondary-bg-color:rgb(41, 41, 59);
//
@mixin button {
  width: 150px;
  height: 45px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 200;
  outline: none;
  border: 1px solid lightseagreen;
  &:hover {
    background-color: #ffffffcb;
    color: rgb(0, 0, 0);
  }
}

.main-section {
  background-color: rgb(85, 57, 57);
  background-image: url("../images/background.jpg");
  background-blend-mode: color;
}
//section1
.about-us {
  padding: 2%;
  background: $primary-bg-color;
  width: 100%;
  height: 100%;
  line-height: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  .text-container {
    display: flex;
    flex-flow: row;
    > .right-container-heading {
      @include heading();
      text-align: left;
      font-style: italic;
      font-size: 100px;
      width: 50%;
    }
    > .left-container-text {
      position: relative;
      top: 100px;
      width: 50%;
      font-size: 25px;
      text-align: left;
    }
  }
}

// section2
.info-about-company {
  @include flex(row, space-evenly);
  padding: 1%;
  width: 100%;
  //background-color: $secondary-bg-color;
  .heading {
    @include heading();
    color: whitesmoke;
    font-size: 50px;
  }
  .board-container {
    @include flex(column, center);
    width: 30%;
    height: auto;
    align-items: center;
    padding: 1% 3%;
    background: rgba(111, 168, 214, 0.74);
    .info-heading {
      font-size: 35px;
      margin: 1% auto;
      width: 100%;
      text-align: center;
      color: white;
    }
    .image img {
      width: 250px;
      height: 190px;
      margin: 1% auto;
    }
    .section-text {
      width: 90%;
      color: rgb(255, 255, 255);
      margin: 1% auto;
      font-size: 20px;
      padding: 1%;
    }
  }
}
//section 3
.process-container {
  padding: 2%;
  width: 100%;
  height: 100%;
  line-height: normal;
  //background-color: $secondary-bg-color;
  .text-container {
    display: flex;
    flex-flow: row;
    > .right-container-heading {
      @include heading();
      text-align: left;
      font-style: italic;
      font-size: 100px;
      width: 50%;
      color: chartreuse;
    }
    > .left-container {
      width: 50%;
      height: auto;
      @include flex(column, center);
      > .step-container {
        margin: 2%;
        > .heading {
          @include heading();
          text-align: left;
          color:rgb(136, 255, 0);
        }
        > .text {
          font-size: 18px;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}

// section 4
.pricing-section-container {
  @include flex(row, center);
  height: 100%;
  width: 100%;
  background-color:$secondary-bg-color;
  padding-bottom: 5%;
  .heading {
    @include heading();
    margin: 0;
    height: 80px;
    color: white;
  }
  .box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 20%;
    margin: 2%;
    text-align: center;
    color: white;
    border-radius: 0px;
    background: #334047;
    box-shadow:  10px 10px 20px #171d20, 
             -10px -10px 20px #181d1f;
    .uppersection {
      width: 100%;
      .box-heading {
        font-size: 20px;
        font-weight: 50;
        line-height: 50px;
      }
      .pricing-price {
        font-size: 28px;
        font-weight: 300;
        line-height: 50px;
      }
      .extra-price {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.781);
      }
    }
    .lowersection {
      background-color: white;
      color: black;
      width: 100%;
      height: auto;
      padding: 5%;
      .box-content {
        width: 100%;
        padding: 2%;
        > p {
          padding: 2%;
          margin: 2% 3%;
          text-align: left;
          line-height: 30px;
        }
      }
      .btn-box {
        width: 100%;
        margin: 2% 0;
        > button {
          @include button();
          padding: 2%;
        }
      }
    }
  }
  #box1{
    .uppersection{
     background-color: 
     rgba(178, 54, 32, 0.747);
    }
    .btn-box {
        > button {
          @include button();
         background-color: 
     rgba(178, 54, 32, 0.747);
          color: white;
        }
      }
  }
   #box2{
    .uppersection{
     background-color: rgb(45, 56, 207);
    }
    .btn-box {
        > button {
           @include button();
          background-color: rgb(45, 56, 207);
          color: white;
        }
      }
  }
   #box3{
    .uppersection{
     background-color: rgb(29, 143, 137);
    }
    .btn-box {
        > button {
           @include button();
           background-color: rgb(29, 143, 137);
          color: white;
        }
      }
  }
}
//section 5
.review-section{
  width: 100%;
  height: 100%;
  @include flex(row,center);
  background-color:$secondary-bg-color;
  .heading{
    width: 100%;
    .small-text{
      @include heading();
      font-size: smaller;
      padding: 1%;
      margin: 0 auto;
      width: 30%;
      font-size: 18px;
      color: whitesmoke;
    }
    .big-text{
      @include heading();
      color: whitesmoke;
    }
  }
  .review-box{
    @include flex(column,space-evenly);
    width: 20%;
    margin: 1%;
    height: auto;
    padding: 0;
    border-radius: 0px;
    background-color: transparent;
    box-shadow:  10px 10px 20px #070808, 
             -10px -10px 20px #202427;
    .upper-side{
      background-color: rgba(33, 22, 190, 0.986);
      height: auto;
      padding: 2%;
      margin: 0;
      >img{
        width: 90px;
        height: 80px;
        border-radius: 50%;
        display: block;
        margin:0 auto;
      }
    }
    .lower-side{
      width: 100%;
      padding: 2%;
      height: 300px;
      margin: 0;
      text-align: center;
      background-color:whitesmoke;
      .name-box{
         width: 100%;
         font-weight: bold;
         padding-bottom: 2%;
         font-size: 16px;
      }
      .content-box{
        width: 100%;
        font-weight: lighter;
        padding: 2%;
        line-height:normal;
        text-align: left;
      }
      .stars-box{
        width: 100%;
        text-align: center;
        padding: 2% 0;
        >.stars{
          color: blue;
        }
        >.empty-stars{
          color: #bfbfbf;
        }
      }
    }
  }
}
//section 6
.contact-us-section{
  @include flex(row,center);
  width: 100%;
  height: auto;
  margin: auto;
  padding: 2%;
  padding-bottom: 4%;
  background-color:rgb(41, 41, 59);
  color: whitesmoke;
  .container{
    @include flex(column,left);
    text-align: center;
    width:auto;
    .heading{
    @include heading();
    font-weight: lighter;
    width:auto;
    text-align: left;
    padding: 2%;
    margin: 0;
  }
    p{
      padding: 2%;
      color: rgba(255, 255, 255, 0.719);
      width: 55%;
      text-align: left;
    }
    >input[type=text]{
      margin: 2%;
      padding: 2%;
      font-size: 22px;
      width: 500px;
      outline: blue;
      border: none;
      background-color: rgb(255, 255, 255);
    }
    >input[type=email]{
      margin: 2%;
      padding: 2%;
      font-size: 22px;
      width: 500px;
      outline: blue;
      border: none;
      background-color:rgb(255, 255, 255);
    }
    >textarea{
      margin: 2%;
      padding: 2%;
      font-size: 22px;
      outline: blue;
      border: none;
      background-color: rgb(255, 255, 255);
    }
  }
}
//section 7
.follow-us-section {
  @include flex(column, center);
  align-items: center;
  width: 100%;
  background:rgb(216, 220, 221);
  .heading {
    @include heading();
  }
  .section-container {
    @include flex(row, center);
    align-items: center;
    height: 50vh;
    width: 50%;
    .icons {
      margin: 2% 4%;
      padding: 1% 3%;
      border-radius: 20%;
      background: #dfdbdb;
      box-shadow:  30px 30px 60px #9b9898, 
             -20px -20px 30px #fffdfdd5;
      > i {
        font-size: 100px;
        padding: 4%;
        border: none;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  //section1
  .about-us {
    @include flex(row, center);
    padding: 2%;
    .text-container {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      > .right-container-heading {
        @include heading();
        font-style: italic;
        font-size: 50px;
      }
      > .left-container-text {
        position: relative;
        top: 0%;
        font-size: 18px;
        width: 100%;
        padding: 5%;
      }
    }
  }
  //section2
  .info-about-company {
    @include flex(column, center);
    align-items: center;
    background-image: none;
    background-color: rgb(0, 32, 100);
    .heading {
      font-size: 25px;
    }
    .board-container {
      @include flex(column, center);
      width: 80%;
      border-radius: 10px;
      margin: 1%;
      .info-heading {
        font-size: 24px;
      }
      .image img {
        width: 180px;
        height: 180px;
      }
      .section-text {
        font-size: 16px;
        text-align: left;
      }
    }
  }
  //section3
  .process-container {
    padding: 1%;
    height: auto;
    background-image: none;
     background-color: rgb(0, 32, 100);
    .text-container {
      > .right-container-heading {
        font-size: 30px;
      }
      > .left-container {
        width: 50%;
        height: auto;
        @include flex(column, center);
        > .step-container {
          > .heading {
            font-size: 20px;
          }
          > .text {
            font-size: 14px;
          }
        }
      }
    }
  }
  //section 7
  .follow-us-section {
    .heading {
      @include heading();
      font-size: 30px;
    }
    .section-container {
      @include flex(row, center);
      height: 30vh;
      width: 100%;
      .icons {
        padding: 2%;
        width: 90px;
        text-align: center;
        > i {
          font-size: 50px;
        }
      }
    }
  }
  // section 4
.pricing-section-container {
  @include flex(column, center);
  align-items: center;
  .heading{
    font-size: 20px;
  }
  .box {
    width: 80%;
    .uppersection {
      width: 100%;
      .box-heading {
        font-size: 22px;
      }
      .pricing-price {
        font-size: 21px;
      }
    }
    .lowersection {
      .box-content {
        > p {
          line-height: 30px;
          font-size: 18px;
        }
      }
    }
  }
}
//section 5
.review-section{
  @include flex(column,center);
   justify-content: center;
    align-items: center;
  .heading{
    width: 100%;
    .small-text{
      width: 100%;
      font-size: 12px;
    }
    .big-text{
      @include heading();
      font-size: 18px;
      width: 100%;
    }
  }
  .review-box{
    width: 80%;
    padding: 0;
    margin: 2% 0;
    justify-content: center;
    align-items: center;
    .upper-side{
      width: 100%;
      >img{
        width: 90px;
        height: 70px;
        display: block;
        margin:0 auto;
      }
    }
    .lower-side{
      width: 100%;
      height: auto;
      .content-box{
        width: 100%;
        font-size: 14px;
        color: black;
        padding: 3%;
      }
    }
  }
}
.contact-us-section{
  padding: 3%;
  justify-content: center;
  .heading{
      font-size: 15px;
      text-align:center;
      padding: 1% 2%;
  }
  .container{
    p{
      padding: 2%;
      width: 100%;
      font-size: 16px;
    }
    >input[type=text]{
      padding: 2%;
      font-size: 15px;
      width: 200px;
    }
    >input[type=email]{
      padding: 2%;
      font-size: 15px;
      width: 200px;
    }
    >textarea{
      padding: 2%;
      font-size: 15px;
      width: 220px;
    }
  }
}

}
