@mixin flex($flexdirection) {
  display: flex;
  flex-flow: $flexdirection wrap;
  justify-content: center;
}
/* common styling for all links  */
.common-links {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
footer {
  @include flex(row);
  align-items: baseline;
  width: 100%;
  height: auto;
  padding: 5% auto;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  .footer-row {
    padding: 2% 3%;
    width: auto;
    @include flex(column);
    p {
      font-size: 18px;
      padding: 2% 0;
      &:hover {
        border-bottom: 1px solid yellow;
      }
    }
    #spl {
      font-size: 35px;
      color: cyan;
    }
  }
  .footer-icons {
    padding: 2%;
    @include flex(row);
    width: 30%;
    text-align: center;
    i {
      font-size: 30px;
      margin: 2%;
      padding: 2% 0;
    }
  }
}
@media only screen and (max-width: 500px) {
  footer {
    @include flex(column);
    align-items: center;
    text-align: center;
    .footer-row {
      padding: 2% auto;
      width: 100%;
    }
    .footer-icons {
      width: 100%;
      i {
        font-size: 35px;
      }
    }
  }
}
