@mixin buttons() {
  width: 170px;
  height: auto;
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none;
  border: 3px solid red;
  outline: none;
  padding: 2%;
  border-radius: 10px;
  &:hover {
    background-color: rgb(255, 6, 6);
    a {
      color: white;
    }
  }
}
@mixin flex($dir) {
  display: flex;
  flex-flow: $dir wrap;
  justify-content: center;
  align-items: center;
}
.header {
  .welcome-page {
    @include flex(row);
    background-color: white;
    height: 100vh;
    width: 100%;
    #image {
      width: auto;
      height: auto;
      margin: 2% 4%;
    }
    .welcome-container {
      @include flex(column);
      height: auto;
      width: 50%;
      margin: 2% 4%;
      padding: 2%;
      line-height: normal;
      color: black;
      .welcome-text {
        font-size: 45px;
        padding: 2% 5%;
        margin: 1% 2%;
        height: auto;
        width: 100%;
        line-height: 60px;
        text-align: left;
        font-weight: 700;
      }
      .small-text {
        font-size: 25px;
        padding: 0 5%;
        margin: 0 2%;
        width: 100%;
        text-align: left;
         color:darkslategrey;
      }
      .welcome-btn-group {
        @include flex(row);
        justify-content: start;
        align-items: start;
        padding: 2% 5%;
        margin: 1% 2%;
        width: 100%;
        .welcome-btn {
          @include buttons();
          margin: 0 1%;
          > a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .header {
    .welcome-page {
      justify-content: center;
      align-items: center;
      width: 100%;
      #image {
        width: 300px;
        height: 300px;
        margin: 0;
        padding: 0;
        > img {
          width: 300px;
          height: 250px;
        }
      }
      .welcome-container {
        margin: 0;
        padding: 0;
        line-height: normal;
        width: 100%;
        margin-top: 8%;
        .welcome-text {
          width: 100%;
          font-size: 38px;
          line-height: 40px;
        }
        .small-text {
          font-size: 22px;
        }
        .welcome-btn-group {
          @include flex(row);
          justify-content: flex-start;
          width: 100%;
          .welcome-btn {
            margin: 2% 1%;
            width: 150px;
          }
        }
      }
    }
  }
}
