* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: lightblue;
  width: 100%;
  height: 100%;
}

.nav-container .logo {
  font-size: 25px;
  margin: 1%;
}

.nav-container .hover {
  display: none;
}

.nav-container .dropdown {
  width: 100%;
  padding: 1%;
  text-align: center;
}

.nav-container .dropdown-content .nav-links {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  padding: 1%;
  color: black;
}

.nav-container .dropdown-content .nav-links:hover {
  border: 2px solid white;
}

/* for mobile devices */
@media only screen and (max-width: 600px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .nav-container .hover {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1%;
  }
  .nav-container .dropdown {
    width: auto;
  }
  .nav-container .dropdown-content {
    padding: 1%;
    display: none;
    z-index: 1;
    position: absolute;
    text-align: center;
    background: lightblue;
  }
  .nav-container .dropdown:hover .dropdown-content {
    margin-top: 1%;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-container .dropdown-content .nav-links {
    width: 100%;
    font-size: 14px;
  }
  .nav-container .dropdown-content .nav-links:hover {
    border: none;
    -webkit-text-decoration: underline white;
            text-decoration: underline white;
  }
}

/* for smaller screens */
@media only screen and (max-width: 400px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .nav-container .nav-items {
    width: 100%;
    text-align: center;
  }
  .nav-container .nav-items > .nav-links {
    font-size: 10px;
  }
}
/*# sourceMappingURL=simple_dropdown_navbar.css.map */