*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flexCenter($flex-direction) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: $flex-direction;
}
@mixin a-links {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    padding: 1%;
    color: black;
}
.nav-container{
    @include flexCenter(row);
    width: 100%; 
    height: 100%;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    .logo{
        font-size: 25px;
        margin: 1%;
        width: 40%;
    }
    .nav-items{
        width: 60%;
        text-align: center;
        .nav-links{
            @include a-links();
        }
    }
}
/* for mobile devices */
@media only screen and (max-width:600px) {
   .nav-container{
    justify-content: space-evenly;
    .logo{
        font-size: 18px;
        margin: 1%;
        width: 30%;
    }
    .nav-items{
        width: 100%;
        text-align: center;
        .nav-links{
            @include a-links();
            font-size: 15px;
        }
    }
}
}