* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f0f0f0;
}

.nav-container .logo {
  font-size: 25px;
  margin: 1%;
  width: 40%;
}

.nav-container .nav-items {
  width: 60%;
  text-align: center;
}

.nav-container .nav-items .nav-links {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  padding: 1%;
  color: black;
}

/* for mobile devices */
@media only screen and (max-width: 600px) {
  .nav-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nav-container .logo {
    font-size: 18px;
    margin: 1%;
    width: 30%;
  }
  .nav-container .nav-items {
    width: 100%;
    text-align: center;
  }
  .nav-container .nav-items .nav-links {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    padding: 1%;
    color: black;
    font-size: 15px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #dad3d3;
  background-image: url("/Registration_for_cycles/background.jpg");
  background-size: cover;
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 2%;
}

.section-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
  width: 80%;
}

.section-container .container .heading {
  display: block;
  font-size: 50px;
  width: 100%;
  padding: 1%;
}

.section-container .container p {
  font-size: 22px;
  margin: 1%;
  width: 100%;
  padding: 1%;
}

.section-container .container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-container .container .form .namediv, .section-container .container .form .extradetails, .section-container .container .form .extradetails2 {
  width: 80%;
}

.section-container .container .form .namediv > input[type=text], .section-container .container .form .extradetails > input[type=text], .section-container .container .form .extradetails2 > input[type=text] {
  width: 280px;
  padding: 1%;
  margin: 1%;
  font-size: 20px;
  border: 2px solid blue;
}

.section-container .container .form > textarea {
  width: 55%;
  padding: 1%;
  margin: 1%;
  font-size: 20px;
  border: 2px solid blue;
}

.section-container .container .form > input[type=email] {
  width: 55%;
  padding: 1%;
  margin: 1%;
  font-size: 20px;
  border: 2px solid blue;
}

.section-container .container .form > input[type=password] {
  width: 55%;
  padding: 1%;
  margin: 1%;
  font-size: 20px;
  border: 2px solid blue;
}

.section-container .container .form > input[type=submit] {
  width: 20%;
  padding: 1%;
  margin: 1%;
  font-size: 20px;
  border: 2px solid blue;
  background-color: transparent;
}

.section-container .container .form > input[type=submit]:hover {
  background-color: blue;
  color: white;
}

.section-container .container .form .rules {
  padding: 0 2%;
  font-size: 20px;
}

.section-container .container .form .rules > ul > li {
  list-style-type: circle;
  list-style-position: inside;
}

.section-container .container .form .extradetails2 label {
  font-size: 20px;
}

.section-container .container .form .extradetails2 > input[type=radio] {
  width: 25px;
  height: 20px;
  background-color: blue;
}

.section-container .container .form .extradetails3 {
  width: auto;
  padding: 1%;
  font-size: 20px;
}

.section-container .container .form .extradetails3 > input[type=checkbox] {
  width: 25px;
  height: 20px;
  background-color: blue;
}

@media only screen and (max-width: 500px) {
  .section-container {
    padding: 2%;
    height: auto;
  }
  .section-container .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1%;
    width: 100%;
  }
  .section-container .container .heading {
    font-size: 30px;
  }
  .section-container .container p {
    font-size: 18px;
  }
  .section-container .container .form {
    width: 100%;
  }
  .section-container .container .form .namediv, .section-container .container .form .extradetails, .section-container .container .form .extradetails2 {
    width: 100%;
  }
  .section-container .container .form .namediv > input[type=text], .section-container .container .form .extradetails > input[type=text], .section-container .container .form .extradetails2 > input[type=text] {
    width: 150px;
    margin: 2%;
    font-size: 18px;
    border: 1px solid black;
  }
  .section-container .container .form > textarea {
    width: 80%;
    margin: 2%;
    font-size: 18px;
    border: 1px solid black;
  }
  .section-container .container .form > input[type=email] {
    width: 80%;
    margin: 2%;
    font-size: 18px;
    border: 1px solid black;
  }
  .section-container .container .form > input[type=password] {
    width: 80%;
    margin: 2%;
    font-size: 18px;
    border: 1px solid black;
  }
  .section-container .container .form > input[type=submit] {
    width: 50%;
    padding: 1%;
    margin: 1%;
    font-size: 18px;
    border: 1px solid black;
  }
  .section-container .container .form .rules {
    padding: 0 2%;
    font-size: 16px;
  }
  .section-container .container .form .extradetails {
    width: 100%;
  }
  .section-container .container .form .extradetails2 label {
    font-size: 18px;
  }
  .section-container .container .form .extradetails2 > input[type=radio] {
    width: 18px;
    height: 18px;
  }
  .section-container .container .form .extradetails3 {
    font-size: 18px;
  }
  .section-container .container .form .extradetails3 > input[type=checkbox] {
    width: 18px;
    height: 18px;
  }
}
/*# sourceMappingURL=style.css.map */